black==24.1.0
mypy==1.8.0
pylint==3.0.3
pytest-cov==4.1.0
pytest-xdist==3.5.0
pytest==7.4.4
types-requests==2.31.0.20240106
types-PyYAML==6.0.12.12
types-requests
webvtt-py
tensorflow
tensorflow_io
torch
types-pyyaml
whisperx @ git+https://github.com/m-bain/whisperx@main
